* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: rgb(242, 210, 159);
}

img {
  width: 100%;
  height: auto;
}

header {
  font-size: xxx-large;
  text-align: center;
  margin: 40px 0px;
  color: rgb(0, 0, 0);
}
#swipes-Txt {
  text-align: center;
  margin: 20px 0px;
  font-size: large;
}
.Btn {
  width: 100px;
  height: 40px;
  margin: 10px 30px;
}

#genderBtn {
  display: flex;
  justify-content: center;
}
#Yes-No-Btn {
  display: flex;
  justify-content: center;
}
#left-Btn {
  background-color: rgb(255, 37, 8);
  margin: 20px 40px;
}
#right-Btn {
  background-color: rgb(0, 154, 23);
  margin: 20px 40px;
}
.SavedBtn {
  display: flex;
  flex-direction: row;
}
.changeBtn {
  width: 80px;
  height: 35px;
  margin: 0px 5px;
}
#card-list {
  display: flex;
  justify-content: center;
}
#saved-Container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.card.male {
  background-color: #93c5fd;
}

.card.female {
  background-color: #fbcfe8;
}

.card {
  border: 2px solid #6b7280;
  border-radius: 7px;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 200px;
  margin: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-image {
  border-bottom: 1px solid #9ca3af;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.card-image img {
  width: 80px;
  height: 80px;
  border: 3px solid #1e293b;
  border-radius: 50%;
}

.card p {
  font-size: 16px;
}
